<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
    </appSettings>
    <!-- <connectionStrings> -->
    <!--     <add name="dbname" providerName="MySql.Data.MySqlClient"  -->
    <!--          connectionString="Data Source=127.0.0.1;Database=dbname;UId=newuser; Pwd=password" /> -->
    <!-- </connectionStrings> -->
    <!-- <entityFramework> -->
    <!--     <defaultConnectionFactory type="MySql.Data.Entity.MySqlConnectionFactory, MySql.Data.Entity.EF6" /> -->
    <!--     <providers> -->
    <!--         <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6"></provider> -->
    <!--     </providers> -->
    <!-- </entityFramework> -->
</configuration>
